.ball {
  position: absolute;
  width: 99%;
  height: 99%;
  border-radius: 9999px;
}

.ball.active {
  animation: switch-fade 5s infinite linear;
  opacity: 0;
}

@keyframes switch-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

